/* iPad Pro */
@media screen and (min-width:421px) and (max-width:1024px) {
  html,body {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
  }
  #restaurant-name {
    font-size: 2.5em;
  }
  #restaurant-address {
    font-size: 1.5em;
  }
  #restaurant-container, #restaurant-hours td {
    font-size: 1.1em;
  }
  #reviews-container{
    padding: 0.875em 1.5em 4em;
  }
  #reviews-container h2 {
    font-size:2em;
  }
  #reviews-list li p {
    margin: 0 0 0.85em;
    font-size:1.25em;
    font-weight:lighter;
  }
  .inside #maincontent {
    display:block;
  }
  .inside header {
    z-index: 10000;
    width:100%;
  }
  #map {
    all:unset;
  }
  .inside #map-container {
    all:unset;
    display:block;
    background: #ccc none repeat scroll 0 0;
    height: 25em;
    padding-top:7.75em;
    position: relative;
    width: 100%;
  }
  .inside #map {
    display:block;
    height:100%;
    width:100%;
  }
  #restaurant-container, #reviews-container {
    border-bottom: 0.0625em solid #d9d9d9;
    border-top: 0.0625em solid #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #breadcrumb {
    width:100%;
    margin-top:2em;
  }
  #restaurant-name{
    text-align:center;
  }
}
/*  larger phone screens */
@media screen and (min-width:375px) and (max-width:420px){
  html,body {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
  }
  .inside header {
    z-index: 10000;
    width:100%;
  }
  #breadcrumb {
    height:2em;
  }
  #breadcrumb li{
    font-size:0.75em;
  }
  #restaurant-img {
    margin-left: auto;
    margin-right: auto;
    display:block;
  }
  #restaurant-cuisine {
    margin-left: auto;
    margin-right: auto;
    display:block;
    font-size:1em;
    width:100%;
    letter-spacing:0.5em;
  }
  #restaurant-name {
    font-size: 1.5em;
    text-align:center;
    margin:0;
    padding-bottom:1em;
  }
  #restaurant-address {
    font-size: 1em;
  }
  #restaurant-container, #restaurant-hours td {
    font-size: 0.95em;
    padding-left:0.75em;
  }
  #reviews-container {
    padding-left:0.5em;
  }
  #reviews-container h2 {
    font-size:1.75em;
    padding-top:0;
    text-align:center;
  }
  #reviews-list li p {
    margin: 0 0 0.85em;
    font-size:1em;
    font-weight:lighter;
  }
  .inside #maincontent {
    display:block;
  }
  #map {
    all:unset;
  }
  .inside #map-container {
    all:unset;
    display:block;
    background: #ccc none repeat scroll 0 0;
    height: 25em;
    padding-top:7.75em;
    position: relative;
    width: 100%;
  }
  .inside #map {
    display:block;
    height:100%;
    width:100%;
  }
  #restaurant-container, #reviews-container {
    border-bottom: 0.0625em solid #d9d9d9;
    border-top: 0.0625em solid #fff;
    width: 100%;
  }
  #reviews-container {
    margin-top:0;
  }
  #breadcrumb {
    width:100%;
    margin-top:0em;
  }
  #restaurant-name{
    text-align:center;
  }
  #footer{
    width:45%;
    padding:0.9em;
  }
}
/* smaller phone screens */
@media screen and (max-width:374px){
  .inside header {
    z-index: 10000;
    width:100%;
  }
  h1 {
    width:100%;
  }
  html,body {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
  }
  #breadcrumb{
    height:0em;
    display:none;
  }
  #restaurant-img {
    margin-left: auto;
    margin-right: auto;
    display:block;
  }
  #restaurant-cuisine {
    margin-left: auto;
    margin-right: auto;
    display:block;
    font-size:1em;
    width:100%;
    letter-spacing:0.5em;
  }
  #restaurant-name {
    font-size: 1.5em;
    text-align:center;
    position:relative;
    bottom:1.25em;
    padding:0;
    margin:0;
  }
  #restaurant-container {
    display:block;
  }
  #restaurant-address {
    font-size: 1em;
  }
  #restaurant-container {
    font-size: 0.95em;
    padding-left:0.75em;
  }
  #restaurant-hours td{
    display:none;
  }
  #reviews-container {
    padding:0.25em;
  }
  #reviews-container h2 {
    font-size:1.75em;
    text-align:center;
  }
  #reviews-list li p {
    margin: 0 0 0.85em;
    font-size:1em;
    font-weight:lighter;
  }
  .inside #maincontent {
    display:block;
  }
  #map {
    all:unset;
  }
  .inside #map-container {
    all:unset;
    display:block;
    background: #ccc none repeat scroll 0 0;
    height: 25em;
    padding-top:7.75em;
    position: relative;
    width: 100%;
  }
  .inside #map {
    display:block;
    height:100%;
    width:100%;
  }
  #restaurant-container, #reviews-container {
    border-bottom: 0.0625em solid #d9d9d9;
    border-top: 0.0625em solid #fff;
    width: 100%;
  }
  #reviews-container {
    margin-top:0;
  }
  #breadcrumb {
    width:100%;
    margin-top:2em;
  }
  #restaurant-name{
    text-align:center;
  }
  #footer {
    height:2.5em;
    padding: 0;
    margin-bottom: 0.5em;
    padding-top:1em;
    padding-left:1em;
    padding-bottom:2em;
  }
}
